/* Scrollable */

@media only screen and (max-width: 1982px) {
    * {
        font-family: Helvetica,Arial,sans-serif; 
    }

    body {
        max-width: 1280px;
        min-width: 626px;
        background: #1e1e1e url("/public/assets/BK_desktop_bg.jpg") no-repeat scroll left top;
    }

    div#main {
    }

    div#scrollable {
        width: 709px;
        height: 408px;
        background-color: white;
        position: absolute;
        z-index: -1;
        top: 116px;
        left: 275px;
        overflow: auto;
    }

    img.scrollable_img {
        margin: 10px 0 0 10px;
        width: 165px;
        height: 108px;
    }

    img.scrollable_img:hover {
        cursor: pointer;
    }

    p.img-title {
        margin: 0 0 0 10px;
        width: 165px;
        margin: 0 0 0 10px;
        width: 165px;
        height: 16px;
        overflow: hidden;
        text-align: center;
    }

    .imagesection {
        margin: 0;
        float: left;
    }
}

@media only screen and (max-width: 982px) {
    div#scrollable {
        width: 535px;
        height: 408px;
        background-color: white;
        position: absolute;
        z-index: -1;
        top: 116px;
        left: 111px;
        overflow: auto;
    }

    img.scrollable_img {
        margin: 10px 0 0 10px;
        width: 165px;
        height: 108px;
    }

    img.scrollable_img:hover {
        cursor: pointer;
    }

    p.img-title {
        margin: 0 0 0 10px;
        width: 165px;
        margin: 0 0 0 10px;
        width: 165px;
        height: 16px;
        overflow: hidden;
        text-align: center;
    }

    .imagesection {
        margin: 0;
        float: left;
    }
}